.App {
}

.App__Header {
  box-sizing: border-box;
  height: 82px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #387DCA;
  padding: 20px;
}

.App__HeaderTitle {
  font-size: 1.2em;
  font-weight: bold;
  color: white;
}

.App__HeaderSubtitle {
  font-size: 1.0em;
  color: #EEEEEE;
}
